{% extends "base.twig" %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="column">
            <h3 class="no-margin-botton no-padding-botton">{{ nome }}</h3>
            <small>PPPoE: {{ pppoeuser }}</small><br>
            <small>Senha: {{ pppoepass }}</small>
        </div>
        <div class="column float-right">
        </div>
        <div class="column float-right">
            <br>
            <b>ST Contrato:</b> {{ stcontrato }}<br>
            <b>Serviço:</b> {{ servico }}<br>
            <b>Up/Down (Plano):</b> {{ velocidade }}
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h4 class="no-margin-botton no-padding-botton">IP: <a class="anchor-green  " target="_blank" href="http://{{ ip }}:8096">{{ ip }}</a></h4>
            <small class="no-margin-botton no-padding-botton">{{ concentrador }} {% if vlan %}vlan: {{ vlan }}{% endif %}</small>
        </div>
        <div class="column"></div>
    </div>
    <!-- buttons / tables -->
    <div class="row">
        <div class="column">
            <div class="row">
                <div class="column"><a class="button {% if editar %}button-outline{% endif %}" href="?editar=1&id={{ id }}">Editar</a></div>
                <div class="column"><a class="button {% if autenticacao %}button-outline{% endif %}" href="?autenticacao=1&id={{ id }}">Extrato de Autenticação</a></div>
                <div class="column"><a class="button {% if log %}button-outline{% endif %}" href="?log=1&id={{ id }}">Log do Radius</a></div>
                <div class="column"><a class="button {% if onudata %}button-outline{% endif %}" href="?onu=1&id={{ id }}">Dados ONU</a></div>
                <div class="column"><a class="button {% if roteadordata %}button-outline{% endif %}" href="?roteador=1&id={{ id }}">Dados Roteador</a></div>

                <div class="column"><a class="button" href="busca.php?pppoe={{ pppoeuser }}">Recarregar</a></div>
            </div>
            {% if autenticacao %}
                <br>
                <div class="row">
                    <div class="column">
                        <table>
                            <thead>
                            <tr>
                                <th>Concentrador</th>
                                <th>
                                    <a href="?autenticacao=1&id={{ id }}&orderByInicio={% if orderby.inicio == 'crescente' %}decrescente{% else %}crescente{% endif %}">Inicio
                                        {% if orderby.inicio == 'decrescente' %}<i class="fas fa-sort-amount-down"></i>
                                        {% elseif orderby.inicio == 'crescente' %}<i class="fas fa-sort-amount-down-alt"></i>
                                        {% endif %}
                                    </a>
                                </th>
                                <th>Término</th>
                                <th>Duração</th>
                                <th>Tráfego</th>
                                <th>Motivo Desc.</th>
                                <th>IP Conexão</th>
                                <th>IP Concentrador</th>
                                <th>IPv6</th>
                                <th>MAC</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for auth in auths|slice(0,30) %}
                            <tr>
                                <td>{{ auth.concentrador }}</td>
                                <td>{{ auth.inicio }}</td>
                                <td>{{ auth.termino }}</td>
                                <td>{{ auth.duracao }}</td>
                                <td>{{ auth.trafego }}</td>
                                <td>{{ auth.motivo }}</td>
                                <td>{{ auth.ipconection }}</td>
                                <td>{{ auth.ipconcentrador }}</td>
                                <td>{{ auth.ipv6 }}</td>
                                <td>{{ auth.mac }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>N. de Registros:</th>
                                <td>{{ auths|length }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if log %}
                <br>
                <div class="row">
                    <div class="column">
                        <table>
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th>Log</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in logs|slice(0,30) %}
                            <tr>
                                <td>{{ log.data }}</td>
                                <td>{{ log.log }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if onudata %}
                <br>
                <div class="row">
                    <div class="column">
                        <table>
                            <thead>

                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>MAC</b></td>
                                    <td>{{ onu.mac }}</td>
                                </tr>
                                <tr>
                                    <td><b>OLT</b></td>
                                    <td>{{ onu.olt }}</td>
                                </tr>
                                <tr>
                                    <td><b>SLOT/PON</b></td>
                                    <td>{{ onu.slot }}</td>
                                </tr>
                                <tr>
                                    <td><b>SINAL</b></td>
                                    <td>{{ onu.sinal }}dBm</td>
                                </tr>
                                <tr>
                                    <td><b>Última vez Online</b></td>
                                    <td>{{ onu.laston }}</td>
                                </tr>
                                <tr>
                                    <td><b>Última vez Offline</b></td>
                                    <td>{{ onu.lastoff }}</td>
                                </tr>
                                <tr>
                                    <td><b>Modo de Operação</b></td>
                                    <td>{{ onu.mode }}</td>
                                </tr>
                                <thead>
                                    <td><b>Port Number</b></td>
                                    <td><b>Status</b></td>
                                    <td><b>Velocidade</b></td>
                                    <td><b>Vlan</b></td>
                            </thead>
                                {% for port in onu.ports %}
                                    <tr>
                                        <td>{{ port.number }}</td>
                                        <td>{{ port.status }}</td>
                                        <td>{{ port.speed }}</td>
                                        <td>{{ port.vlan }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if roteadordata %}
                <br>
                <div class="row">
                    <div class="column">
                        <table>
                            <tbody>
                                <tr>
                                    <td><b>Acesso Porta 8096</b></td>
                                    <td>{% if roteador.port8096 %}Acessível{% else %}Inacessível{% endif %}</td>
                                    <td><a a class="anchor-green  " target="_blank" href="http://{{ ip }}:8096">HTTP{% if roteador.port8096title %} - {{ roteador.port8096title }}{% endif %}</a></td>
                                    <td><a a class="anchor-green  " target="_blank" href="https://{{ ip }}:8096">HTTPS{% if roteador.port8096title %} - {{ roteador.port8096title }}{% endif %}</a></td>
                                </tr>
                                <tr>
                                    <td><b>Acesso Porta 8080</b></td>
                                    <td>{% if roteador.port8080 %}Acessível{% else %}Inacessível{% endif %}</td>
                                    <td><a a class="anchor-green  " target="_blank" href="http://{{ ip }}:8080">HTTP{% if roteador.port8080title %} - {{ roteador.port8080title }}{% endif %}</a></td>
                                    <td><a a class="anchor-green  " target="_blank" href="https://{{ ip }}:8080">HTTPS{% if roteador.port8080title %} - {{ roteador.port8080title }}{% endif %}</a></td>

                                </tr>
                                <tr>
                                    <td><b>Acesso Porta 80/443</b></td>
                                    <td>{% if roteador.port80 %}80 - Acessível{% else %}80 - Inacessível{% endif %} &nbsp;|&nbsp; {% if roteador.port443 %}443 - Acessível{% else %}443 - Inacessível{% endif %}</td>
                                    <td><a a class="anchor-green  " target="_blank" href="http://{{ ip }}:80">HTTP (80){% if roteador.port80title %} - {{ roteador.port80title }}{% endif %}</a></td>
                                    <td><a a class="anchor-green  " target="_blank" href="https://{{ ip }}:443">HTTPS (443){% if roteador.port443title %} - {{ roteador.port443title }}{% endif %}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if editar %}
                <br>
                <div class="row">

                    <div class="column">
                        <br>
                        <form method="post" action="index.php">
                            <input type="text" name="pppoeuser" value="{{ pppoeuser }}">
                            <input type="text" name="pppoepass" value="{{ pppoepass }}">

                            <input type="submit">

                        </form>
                    </div>
                    <div class="column column-offset-50"></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}